.login__input {
  min-height: 27px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  font-size: 14px;
  padding: 0;
  width: 100%;
  background: none;
}

